.root{
	-fx-background-color: #383838;
	
}
.label{
	-fx-text-fill: #FFF;
	-fx-font-size: 12pt;
}

.button{
	-fx-background-color: #AB4642;
	-fx-background-radius: 4;
	-fx-font-size: 12pt;
}

.text-input {
	-fx-background-color: #ccc;
}

.vbox-group, .hbox-group {
	-fx-fill: #383838;
	-fx-text-fill: #FFF;
    -fx-background-color: #383838;
}