@font-face {
    font-family: Game of Thrones;
    src: url('GameOfThrones.ttf');
}

.root{
	-fx-background-color: #383838;
	
}
.label{
	-fx-text-fill: #FFF;
	-fx-font-size: 12pt;
}

.button{
	-fx-background-color: #AB4642;
	-fx-background-radius: 4;
	-fx-font-size: 12pt;
}

.text-input {
	-fx-background-color: #ccc;
}

.vbox-group, .hbox-group {
	-fx-fill: #383838;
	-fx-text-fill: #FFF;
    -fx-background-color: #383838;
}

Button:hover {
	-fx-cursor: hand;
}

#close-button:hover{
	-fx-cursor: hand;
}
.app-header-name {
	-fx-text-fill: #FFF;	
	-fx-font-family: 'Game Of Thrones';
}

.scroll-bar:vertical {
    -fx-scale-x: 0;
}
.scroll-bar:horizontal {
    -fx-scale-y: 0;
}


.territory-label, .dorne-territory-label, 
.thereach-territory-label, .thewesterlands-territory-label,
.theriverlands-territory-label, .thenorth-territory-label,
.thecrownlands-territory-label, .thestormlands-territory-label,
.theironislands-territory-label {
	-fx-background-color: rgb(27, 89, 78);
	-fx-text-fill: #fff;
	-fx-border-color: #fff;
	-fx-font-family: 'Game Of Thrones';
	-fx-font-size: 7pt;
	-fx-padding: 4;
}
.territory-label:hover {
	-fx-background-color: #ac3939;
}
.thevaleofarryn-territory-label {
	-fx-background-color: rgb(27, 89, 78);
}
.dorne-territory-label {
	-fx-background-color: #803A1F;
}
.thereach-territory-label {
	-fx-background-color: #4F604E;
}
.thewesterlands-territory-label {
	-fx-background-color: #31171B;
}
.theriverlands-territory-label {
	-fx-background-color: #132B45;
}
.thenorth-territory-label {
	-fx-background-color: #46474A;
}

.thecrownlands-territory-label {
	-fx-background-color: #906131;
}
.thestormlands-territory-label {
	-fx-background-color: #5C4613;
}
.theironislands-territory-label {
	-fx-background-color: #5C4613;
}


.territory-units-label {
	-fx-background-color: white;
	-fx-border-color: #fff;
	-fx-text-fill: #383838;
	-fx-font-family: 'Game Of Thrones';
	-fx-font-size: 11pt;
	-fx-alignment: 'TOP_CENTER';
}
.territory-units-label-player1{
	-fx-background-color: #da7b7b;
}
.territory-units-label-player2{
	-fx-background-color: #d9b97c;
}
.territory-units-label-player3{
	-fx-background-color: #9cd97c;
}
.territory-units-label-player4{
	-fx-background-color: #7cb6d9;
}
.territory-units-label-player5{
	-fx-background-color: #9380d9;
}
.territory-units-label-player6{
	-fx-background-color: #cd80d9;
}