.root{
	background-color: #383838;
	-fx-background-color: #383838;
	
}
.label{
	-fx-text-fill: #FFF;
	font-size: 12pt;
	-fx-font-size: 12pt;
}

.button{
	background-color: #AB4642;
	-fx-background-color: #AB4642;
	-fx-background-radius: 4;
	font-size: 12pt;
	-fx-font-size: 12pt;
}

.text-input {
	background-color: #ccc;
	-fx-background-color: #ccc;
}